{% extends 'base.html' %}

{% block content %}
  <main>
    <div>
      <h1>{{ todo_list.name }}</h1>
      <p><a href="{% url 'todos:todo_list_update' todo_list.id %}">Edit</a></p>
      <h2>Tasks</h2>
      <table>
        <thead>
          <tr>
            <th>Task</th>
            <th>Due date</th>
          </tr>
        </thead>
        <tbody>
          {% for task in todo_list.tasks.all %}
            <tr>
              <td>{{ task.title }}</td>
              <td>{{ task.due_date }}</td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="2">No tasks found.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </main>
{% endblock %}
