{% extends 'base.html' %}

{% block content %}
  <main>
    <div>
      <h1>Create a New List</h1>
      <form method="post">
        {% csrf_token %}
        <input type="text" name="name" required>
        <button type="submit">Create</button>
      </form>
    </div>
  </main>
{% endblock %}
